img{
width: 200px ;

}

body{
background-color: black;    
color: azure;
font-size: 15pt;

}
a{
    width: 20px;
    height: 10px; 
    background-color: rgb(147, 71, 71);
    border-radius: 5px;
    margin: 10px;
    padding: 14px;

}

.primiro_paragrafo{
    border: 2px solid white;
    border-radius: 5px;
}